<div class="card mb-5">
  <div class="card-header">
    <h4 class="card-title"><a
        href="/posts/{{id}}"
        class="link-dark"
      >{{title}}</a></h4>
    <h6 class="card-subtitle mb-2">Posted by
      {{user.username}}
      on
      {{createdAt}}</h6>
  </div>
  <div class="card-body">
    <p class="card-text">{{body}}</p>
  </div>