<div class="card mb-5">
  <div class="card-header">
    <h4 class="card-title"><a
        href="/posts/{{post.id}}"
        class="link-dark"
      >{{post.title}}</a></h4>
    <h6 class="card-subtitle mb-2">Posted by
      {{user.username}}
      on
      {{createdAt}}</h6>
  </div>
  <div class="card-body">
   {{message}}
   <div>~ {{user.username}} on {{createdAt}}</div>
  </div>
  <div class="text-center">
    <a
      href="/dashboard/edit-comment/{{id}}"
      class="btn btn-success card-link mb-3 w-100"
    >Edit Comment</a>
    <button
      data-id="{{id}}"
      name="delete-comment-btn"
      class="btn btn-danger card-link mb-3 mx-0 w-100"
    >Delete Comment</button>
  </div>